@use "~/styles/scss/variables" as V;

@mixin set-wrapper-style() {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0 8px;
  padding: 2px 0;
}

.jds-table {
  width: 100%;
  border-spacing: 0 !important;
  border: none;
  
  * {
    font-family: inherit;
    font-size: 14px;
    line-height: 23px;
  }

  tr {
    background-color: V.$white;
  }

  tr:nth-child(even) {
    background-color: V.$gray-50;
  }

  &__header {
    background-color: V.$green-700;
    padding: 6px 8px;
    color: V.$white;
    font-weight: 700;

    &-wrapper {
      @include set-wrapper-style;
      
      .jds-table__header-title {
        text-align: left;
        flex-grow: 1;
      }

      .jds-table__header-action {
        flex-basis: 0;
        justify-self: flex-end;
        cursor: pointer;
        transform: rotate(0deg);
        transition: transform 350ms ease-out;

        &--toggle {
          transform: rotate(180deg);
        }
      }
    }
  }

  &__data {
    padding: 6px 8px;
    border-top: 1px solid V.$gray-200;

    &-wrapper {
      @include set-wrapper-style;
    }
  }
}