@use "~/styles/scss/variables" as V;

.jds-table {
  width: 100%;
  border-spacing: 0 !important;
  border: none;
  
  * {
    font-family: inherit;
    font-size: 14px;
    line-height: 23px;
  }

  &__row {
    background-color: V.$white;
  }

  &__row:nth-child(even) {
    background-color: V.$gray-50;
  }

  &__header {
    background-color: V.$green-700;
    padding: 6px 8px;
    color: V.$white;
    font-weight: 700;

    &-wrapper {
      width: 100%;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 0 8px;

      &:last-child {
        flex-basis: 0;
        justify-self: flex-end;
        cursor: pointer;
      }
    }
  }

  &__title {
    text-align: left;
    flex-grow: 1;
  }

  &__data {
    padding: 6px 8px;
    border-top: 1px solid V.$gray-200;

    &-wrapper {
      display: flex;
      align-items: center;
      gap: 0 8px;
    }
  }
}