.jds-popover {
  visibility: visible;
  pointer-events: all;
  display: inline-block;

  &__activator {
    display: inline-block;
  }

  &__content {
    display: inline-block;

    &--hidden {
      visibility: hidden;
      pointer-events: none;
    }
  }
}
