@use "~/styles/scss/variables" as V;

.jds-pagination {
  $--wrapper-padding: 8px;

  display: inline-block;
  width: 100%;
  background-color: V.$gray-50;
  border-top: 1px solid V.$green-700;

  * {
    font-size: 14px;
    line-height: 23px;
  }

  &__wrapper {
    display: grid;
    grid-template-columns: 1fr;
    padding: 8px;
  }

  &__page-control {
    &--left {
      width: 100%;
      display: none;
    }

    &--right {
      width: 100%;
      display: flex;

      .jds-pagination__page-control__select {
        display: flex;
        flex-grow: 1;
        justify-content: center;
        gap: 8px;
      }
    }
  }

  &__divider {
    display: inline-block;
    width: 1px;
    align-self: stretch;
    margin: ($--wrapper-padding * -1) 0;
    background-color: V.$gray-200;
  }

  &__navigation-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    margin: ($--wrapper-padding * -1) 0;
    border: none;
    background: inherit;
    cursor: pointer;

    i {
      color: V.$green-700;
    }

    &:hover, 
    &:focus {
      background: V.$gray-100;
      outline: none;
    }
  }

  &--disabled {
    background-color: V.$gray-100;

    * {
      color: V.$gray-600 !important;
    }
  }
}

@media (min-width: 728px) {
  .jds-pagination {
    
    &__wrapper {
      grid-template-columns: repeat(2, 1fr);
    }

    &__page-control {
      &--left {
        display: flex;
        .jds-pagination__page-control__select {
          display: flex;
          gap: 8px;
          flex-grow: 1;
        }
      }

      &--right {
        display: flex;
        justify-content: flex-end;

        .jds-pagination__page-control__select {
          order: 1;
          flex-grow: 1;
          justify-content: flex-end;
          padding-right: 8px;
        }

        .jds-pagination__divider:nth-of-type(1) {
          order: 2;
        }

        .jds-pagination__navigation-button:nth-of-type(1) {
          order: 3;
        }

        .jds-pagination__divider:nth-of-type(2) {
          order: 4;
        }

        .jds-pagination__navigation-button:nth-of-type(2) {
          order: 5;
        }
      }
    }
  }
}
