@use "~/styles/scss/variables" as V;

.jds-pagination {
  display: inline-block;
  width: 100%;
  background-color: V.$gray-50;
  border-top: 1px solid V.$green-700;

  * {
    font-size: 14px;
    line-height: 23px;
  }

  &__wrapper {
    display: grid;
    grid-template-columns: 1fr;
    height: 100%;
    padding: 8px;
  }

  &__page-control {
    &--left {
      width: 100%;
      display: none;
    }

    &--right {
      width: 100%;
      justify-self: center;
      display: flex;
      justify-content: space-between;

      .jds-pagination__page-control__select {
        display: flex;
        gap: 8px;
      }

    }
  }

  // &__navigation {
  //   button {
  //     display: flex;
  //     border: none;
  //     background: none;
  //     width: 40px;
  //     height: 100%;
  //     align-items: center;
  //     justify-content: center;
  //   }
  // }

  // &__navigation:nth-of-type(3) {
  //   order: 3;
  // }
}

@media (min-width: 728px) {
  .jds-pagination {
    
    &__wrapper {
      grid-template-columns: repeat(2, 1fr);
    }

    &__page-control {
      &--left {
        display: flex;
        .jds-pagination__page-control__select {
          display: flex;
          gap: 8px;
        }
      }

      &--right {
        display: flex;
        justify-content: flex-end;

        .jds-pagination__page-control__select {
          order: 1;
          flex-grow: 1;
          justify-content: center;
        }

        .jds-pagination__navigation-button:nth-of-type(1) {
          order: 2;
        }

        .jds-pagination__navigation-button:nth-of-type(2) {
          order: 3;
        }
      }
    }
  }
}
