@use '../../../styles/scss/variables' as V;

.jds-button{
  --text-color: #{V.$white};
  --border-color: transparent;
  --bg-color: #{V.$green-700};
  --hover-bg-color: #{V.$green-800};
  --active-bg-color: #{V.$green-700};
  --focus-ring-outer-color: #{V.$green-800};
  --focus-ring-inner-color: #{V.$yellow-500};

  cursor: pointer;
  display: inline-block;
  border-radius: 8px;
  padding: 9px 16px;
  font-size: 1em;
  outline: none;
  box-sizing: border-box;
  line-height: 26px;
  background-color: var(--bg-color);

  &__label{
    text-align: center;
  }

  &:hover{
    background-color: var(--hover-bg-color);
  }

  &:active{
    background-color: var(--active-bg-color);
    margin: 1px 0 0 1px;
    padding: 8px 15px;
  }

  &:focus{
    box-shadow:
      inset 0px 0px 0px 1px var(--focus-ring-outer-color),
      inset 0px 0px 0px 2px var(--focus-ring-inner-color);          
  }

  &,
  &--primary{
    border: 1px solid var(--border-color);
    color: var(--text-color);
  }

  &--secondary{
    --bg-color: transparent;
    --border-color: #{V.$green-800};
    --text-color: #{V.$green-800};
    --hover-bg-color: #{V.$green-50};
    --active-bg-color: transparent;
    --focus-ring-outer-color: #{V.$green-50};
  }

  &--tertiary{
    --border-color: transparent;
    --bg-color: transparent;
    --hover-bg-color: #{V.$green-50};
    --active-bg-color: #{V.$green-100};
    --text-color: #{V.$green-800};
    --focus-ring-outer-color: #{V.$green-50};
  }

  &--tertiary-paddingless{
    --border-color: transparent;
    --bg-color: transparent;
    --hover-bg-color: #{V.$green-50};
    --active-bg-color: #{V.$green-100};
    --text-color: #{V.$green-800};
    --focus-ring-outer-color: #{V.$green-50};
    padding: 3px 4px;

    &:active{
      padding: 2px 3px;
    }
  }

  &--danger{
    --border-color: transparent;
    --bg-color: #{V.$red-700};
    --text-color: #{V.$white};
    --hover-bg-color: #{V.$red-900};
    --active-bg-color: #{V.$red-900};
    --focus-ring-outer-color: #{V.$red-700};
  }
}