@use "~/styles/scss/variables" as V;

.jds-select {
  display: inline-block;

  position: relative;

  &__trigger-icon {
    pointer-events: none;
    height: 16px;
    width: auto;
    object-fit: contain;
    transition-property: transform;
    transition-timing-function: ease-out;
    transition-duration: 0.3s;
    transform: rotate(0deg);
  }
  
  &__error-message {
    position: absolute;
    top: 100%;
  }
  
  &__options {
    list-style: none;
    padding: 16px 0;
    margin: 0;
  
    &--multiple {
      padding: 12px 0;
    }
  }
 
  &__option {
    position: relative;
    cursor: pointer;
    overflow: hidden;
    padding: 0 16px;
    height: 20px;
    // TODO: define font-size typography class
    font-size: 14px;
  
    & + & {
      margin-top: 12px;
    }
  
    &--selected {
      padding-left: 24px;
    }
  
    &--selected > &__text {
      color: V.$green-700;
      font-weight: bolder;
    }
  
    &:hover {
      background-color: V.$gray-50;
    }
  }
}

// STATE
.jds-select {
  &--opened & {
    &__trigger-icon {
      transform: rotate(180deg);
    }
  }
}
