@use "~/styles/scss/variables" as V;

.jds-select {
  display: inline-block;
  position: relative;

  &,
  & * {
    cursor: pointer;
  }

  &__trigger-icon {
    color: V.$green-700;
    height: 16px;
    width: auto;
    object-fit: contain;
    transition-property: transform;
    transition-timing-function: ease-out;
    transition-duration: 0.3s;
    transform: rotate(0deg);
  }
  
  &__error-message {
    position: absolute;
    top: 100%;
  }

  &__dropdown {
    position: relative;
  }

  &__header {
    display: none;
    padding: 8px;
    text-align: center;
    border-bottom: 1px solid V.$gray-300;
    font-size: 16px;
    line-height: 26px;
  }

  &__filter {
    position: absolute;
    width: calc(100% - (16px * 2));
    height: 36px;
    margin: 8px 16px;

    &__input-text {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
    }
  }
  
  &__options {
    list-style: none;
    padding: 16px 0;
    margin: 0;
  
    &--multiple {
      padding: 12px 0;
    }
  }
 
  &__option {
    position: relative;
    cursor: pointer;
    overflow: hidden;
    padding: 0 16px;
    height: 20px;
    // TODO: define font-size typography class
    font-size: 14px;
    line-height: 16px;
  
    & + & {
      margin-top: 12px;
    }
  
    &--selected {
      padding-left: 24px;
    }
  
    &--selected > &__text {
      color: V.$green-700;
      font-weight: bolder;
    }
    
    &:hover,
    &:focus,
    &:focus-within {
      background-color: V.$gray-50;
      outline: none;
      border: none;
    }
  }
}

// STATE
.jds-select {
  &--opened & {
    &__trigger-icon {
      transform: rotate(180deg);
    }
  }

  &:not(&--filterable) & {
    &__filter {
      display: none;
    }
  }

  &--filterable & {
    &__options {
      position: relative;
      // defaultPaddingTop + filterInputHeight + (filterInputMarginY * 2)
      padding-top: 16px + 36px + (8px * 2);
    }
  }

  &:not(&--error) & {
    &__error-message {
      display: none;
    }
  }

  &--has-header & {
    &__header {
      display: block;
    }
  }
}
