//fix width 85px
.fix-3 {
  width: 85px;
}

//fix width 150px
.fix-6 {
  width: 150px;
}

//fix width 250px
.fix-9 {
  width: 250px;
}

//fix width 350px
.fix-12 {
  width: 350px;
}

//width 100%
.full-width {
  width: 100%;
}
